<% provide(:title, 'All users') %>
<div id='users'>
<h1>Explore Users</h1>

<div id="user-grid">
    <div><h1>Users</h1></div>
    <div><h1>No. of Cheatsheets</h1></div>
    <%= render @users %>
</div>

<%= will_paginate %>
</div>
