<div class='margins'>
  <h1><%= @user.name %></h1> 
  <h3>Email: <%= @user.email %></h3>
  <h3><%= @user.name %>'s Cheatsheets</h3>
  <% if @user.cheatsheets.any? %>
    <div class='cheatsheet-grid'>
      <%= render @user.cheatsheets %>
    </div>
  <% else %>
    <h4>User has no cheatsheets</h4>
  <% end %>
</div>
