<h1>About</h1>

<p>Cheatsheets is an application to create and share custom cheatsheets to assist with learning
When learning a new framework/language/tool it can be useful to note down key pieces of information you learn.
If you need a handy reference you can view cheatsheets made by other users.</p>
