<div id='hero' class='hero'>
  <div id='hero-items'>
    <div id='hero-image'>
      <%= image_tag('hero_logo.png') %>
    </div>
    <div id='hero-navigation' class='navigation-link'>
      <%= link_to 'Create', new_cheatsheet_path, { :class => 'large-pill-link' } %>
      <%= link_to 'Explore', cheatsheets_path, { :class => 'large-pill-link' } %>
    </div>
  </div>
</div>
