.navigation-link {
  color: white;
  text-decoration: none;
  a, a:visited {
    color: white;
    text-decoration: none
  }
}

.pill-link {
   border: 2px solid white;
   border-radius: 1em;;
   font-size: 1.5em;
   padding: 0.3em;
}

.small-pill-link {
   border: 2px solid white;
   border-radius: 1em;;
   font-size: 1em;
   padding: 0.3em;
}

.large-pill-link {
   border: 2px solid white;
   border-radius: 1em;;
   font-size: 3em;
   padding: 0.3em;
   padding-right: 1em;
   padding-left: 1em;
   margin: 0.5em;
}
