// Place all the styles related to the Cheatsheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'base_card';

.cheatsheet-header {
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

.cheatsheet-grid {
  display: grid;
  align-items: stretch;
  grid-template-columns:[title] 1fr [description] 2fr [actions] 1fr [end]; 
  grid-row-gap: 1em;
  margin-bottom: 2em;
}

.title {
  grid-column: title / description;
  grid-row: 1 / 2;
}

.description {
  grid-column: description / actions;
  grid-row: 1 / 2;
}

.actions {
  grid-column: actions / end;
  grid-row: 1 / 2;
}

.card {
  padding: 1em;
}

.cheatsheet-title {
  background-color: $card-highlight-1;
  border-radius: 1em 0em 0em 1em;
}

.cheatsheet-description {
  background-color: $card-highlight-2;
}

.cheatsheet-action {
  background-color: $card-highlight-1;
  border-radius: 0em 1em 1em 0em;
}

.action-links {
  display: flex;
  // Some difficulty aligning this div in the center with flex box
  // using a grid somewhat helped this but vertically stacked the buttons
  // Need to try wrapping links in their own divs. Lower priority
  // display: grid;
  align-items: center;
  justify-content: flex-end;
}

.explore-search {
  flex-grow: 1;
}
