.pagination {
  display: flex;
  justify-content: center;
  font-size: 2em;
  a, a:visited {
    color: white;    
    padding: 2px 5px 2px 5px;
    margin: 2px;
     text-decoration: none;
  }
}

.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
  color: #AF2B3F;
}

