<div id='footer'>
  <div id='footer-nav' class='navigation-link'>
    <%= link_to 'About', '/pages/about', {:class => 'pill-link'} %>
    <%= link_to 'Contact', 'contacts/new', {:class => 'pill-link'} %>
  </div>
  <div id='footer-text' class='link'>
    <p>Made with 💖 in Wellington, New Zealand<p>
    <p>Contribute on <a href='https://github.com/mathyoudawson/Cheatsheets'>Github</a></p>
  </div>
</div>
